.blog {
    padding: 29px 100px 4px;
    margin: 0 auto;
}

.blog__list {
    display: grid;
    /* grid-template-columns: repeat(2, 645px); */
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 143px;
    margin-bottom: 100px;
}

.blog__item {
    display: flex;
    height: 100%;
    gap: 30px;
}

.blog__img {
    width: 100%;
    max-width: 195px;
}

.blog__content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
}

.blog__title {
    font-size: 32px;
    margin-bottom: 13px;
    letter-spacing: -0.05em;
}

.blog__data {
    font-size: 16px;
    color: #8F8F8F;
    margin-bottom: auto;
}

.blog__info {
    font-size: 16px;
    color: #8F8F8F;
    display: grid;
    grid-template-columns: repeat(2, 62px);
    gap: 25px;
}

.blog__info-view,
.blog__info-comment {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left;
}

.blog__info-view {
    background-image: url(../img/view.svg);
    padding-left: 28px;
}

.blog__info-comment {
    background-image: url(../img/comment.svg);
    padding-left: 32px;
}

.blog__footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__btn {
    display: block;
    cursor: pointer;
    width: 37px;
    background-size: 37px;
    color: #8F8F8F;
    background-repeat: no-repeat;
    background-position: center;
    outline: 1px solid transparent;
    transition-property: color, outline-color;
    transition-duration: 0.3s ease-in-out;
}

.footer__btn-next {
    transform: rotate(180deg);
}

.footer__btn:hover {
    color: #3670C7;
}

.footer__btn:active {
    color: #3670C7;
    outline-color: #3670C7;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.footer__page {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid #2D2D2D;
    border-radius: 4px;
    color: #2D2D2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer__page:hover {
    color: #3670C7;
}

.footer__page:active {
    color: #3670C7;
    border-color: #3670C7;
}

.footer__page.active {
    color: #3670C7;
    border-color: #3670C7;
}

@media (max-width: 1900px) {
    .blog {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 1750px) {
    .blog {
        padding-left: 50px;
        padding-right: 50px;
    }

    .blog__list {
        gap: 80px;
    }
}

@media (max-width: 1580px) {
    .blog {
        padding-left: 30px;
        padding-right: 30px;
    }

    .blog__title {
        font-size: 28px;
    }
}

@media (max-width: 1390px) {
    .blog__title {
        font-size: 24px;
    }

    .footer__page {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

@media (max-width: 1160px) {
    .blog__img {
        max-width: 165px;
    }

    .blog__title {
        font-size: 20px;
    }

    .footer__page {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

@media (max-width: 1020px) {
    .blog {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog__list {
        gap: 50px;
        margin-bottom: 70px;
    }

    .blog__img {
        max-width: 140px;
    }

    .blog__title {
        font-size: 18px;
    }

    .footer__page {
        width: 28px;
        height: 28px;
        font-size: 12px;
        border-width: 1px;
    }
}

@media (max-width: 855px) {
    .blog__item {
        gap: 16px;
    }

    .blog__img {
        max-width: 120px;
    }

    .blog__content {
        line-height: 1.1;
    }

    .blog__title {
        font-size: 14px;
    }

    .blog__data {
        font-size: 12px;
    }

    .blog__info {
        grid-template-columns: repeat(2, 1fr);
        font-size: 12px;
        gap: 5px;
    }

    .blog__info-view,
    .blog__info-comment {
        background-size: 16px;
        padding-left: 20px;
    }

    .footer__btn {
        width: 24px;
        background-size: 24px;
    }

    .blog__footer {
        gap: 20px;
    }

    .footer__page {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
}

@media (max-width: 675px) {
    .blog {
        padding-left: 5px;
        padding-right: 5px;
    }

    .blog__item {
        gap: 10px;
    }

    .blog__img {
        max-width: 80px;
    }

    .blog__title {
        font-size: 12px;
    }

    .blog__data,
    .blog__info {
        font-size: 10px;
    }

    .blog__info-view,
    .blog__info-comment {
        background-size: 14px;
        padding-left: 16px;
    }
}

@media (max-width: 520px) {
    .blog__list {
        gap: 12px;
        margin-bottom: 30px;
    }

    .blog__img {
        max-width: 60px;
    }

    .blog__title {
        font-size: 8px;
    }

    .blog__data,
    .blog__info {
        font-size: 5px;
    }

    .blog__info-view,
    .blog__info-comment {
        background-size: 8px;
        padding-left: 10px;
    }

    .blog__footer {
        gap: 10px;
    }

    .footer__btn {
        width: 16px;
        background-size: 16px;
    }

    .footer__page {
        width: 16px;
        height: 16px;
        font-size: 6px;
    }
}