.main-page {
    max-width: 1765px;
    font-weight: 500;
    line-height: 1.3;
    margin: 85px 80px 85px 75px;
}

.main-page__title {
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.section {
    max-width: 1095px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: #525252;
}

.section__paragraph {
    margin-bottom: 45px;
}

.section__image {
    max-width: 1095px;
    margin-bottom: 45px;
}

.section__title {
    font-weight: 600;
    font-size: 22px;
}

.section__subtitle {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
}